%hr
%audio{ controls: "controls"}
  %source{ src: mp3, type: "audio/mpeg"}
  %source{ src: ogg, type: "audio/ogg"}
  %embed{ flashvars: "audioUrl=#{mp3}", height: "27", quality: "best", src: "http://www.google.com/reader/ui/3523697345-audio-player.swf", type: "application/x-shockwave-flash", width: "400"}
%p
  %em
    Please give it a listen and let me know what you think. You can also
    = link_to "add my feed", data.site.feed_url
    to iTunes to subscribe to my aggregate podcast.
