<audio controls="controls">
  <source src="{{ page.mp3 }}" type="audio/mpeg" />
  <source src="{{ page.ogg }}" type="audio/ogg" />
  <embed type="application/x-shockwave-flash" flashvars="audioUrl={{ page.mp3 }}" src="http://www.google.com/reader/ui/3523697345-audio-player.swf" width="400" height="27" quality="best"></embed>
</audio>
<p>
  Please give it a listen and let me know what you think.  You can
  also <a href="http://feeds.feedburner.com/ryanmcgeary">add my feed</a> to
  iTunes to subscribe to a podcast of my audio content.
</p>
