/* 
 * =Reset
 */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym {border:0;}

body { 
  background: #fff; 
  color: #333; 
  font-family: Georgia, serif;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

h1 { font-size: 4em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.25em; }

h2, h3 {
  margin-top: 1em;
}

#header { 
  background: #000;
  color: #fff; 
  margin: 0 0 2em 0;
  padding: 2em 0;
  text-align: center; 
}

#header h1 { 
  margin: 0 auto;
  font-size: 4em;
}

#header a { 
  color: #fff;
  text-decoration: none;
}
#header a:hover { 
  color: #000;
  background-color: #fff;
}

#header p small { 
  font-style: italic;
}

#content { 
  width: 40em;
  margin: 0 auto;
  text-align: center;
}

#description { 
  text-align: left;
}

#footer {
  margin-bottom: 4em;
}

.screenshots img { 
  display: block;
  margin: 0 auto;
}

/*
 * =Utility
 */

.clearfix:after
{
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
}

.clearfix { display: inline-table; }

/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */