/* line 14, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 17, ../_sass/screen.sass */
body {
  background-color: #080908;
  color: white;
  font-family: Georgia, serif;
}

/* line 22, ../_sass/screen.sass */
#social {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 10px;
}
/* line 27, ../_sass/screen.sass */
#social .button {
  display: block;
  float: left;
  width: 64px;
  height: 64px;
}
/* line 31, ../_sass/screen.sass */
#social .email {
  text-indent: -9999em;
  overflow: hidden;
  text-align: left;
  background-image: url('/images/mail-button.png?1283259361');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
/* line 33, ../_sass/screen.sass */
#social .github {
  text-indent: -9999em;
  overflow: hidden;
  text-align: left;
  background-image: url('/images/github-button.png?1283265556');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
/* line 35, ../_sass/screen.sass */
#social .twitter {
  text-indent: -9999em;
  overflow: hidden;
  text-align: left;
  background-image: url('/images/twitter-button.png?1283259332');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
/* line 37, ../_sass/screen.sass */
#social .linkedin {
  text-indent: -9999em;
  overflow: hidden;
  text-align: left;
  background-image: url('/images/linkedin-button.png?1283259315');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
/* line 39, ../_sass/screen.sass */
#social .facebook {
  text-indent: -9999em;
  overflow: hidden;
  text-align: left;
  background-image: url('/images/facebook-button.png?1283262635');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
/* line 41, ../_sass/screen.sass */
#social .claimid {
  text-indent: -9999em;
  overflow: hidden;
  text-align: left;
  background-image: url('/images/claimid-button.png?1283262336');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
/* line 43, ../_sass/screen.sass */
#social .wwr {
  text-indent: -9999em;
  overflow: hidden;
  text-align: left;
  background-image: url('/images/wwr-button.png?1283267367');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* line 46, ../_sass/screen.sass */
#welcome {
  margin: 0.5em;
  font-size: 32px;
  line-height: 1.5;
  text-shadow: black 3px 3px 5px;
}
/* line 51, ../_sass/screen.sass */
#welcome a {
  color: white;
  text-decoration: none;
}
/* line 4, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/links/_hover-link.scss */
#welcome a:hover {
  text-decoration: underline;
}

/* line 55, ../_sass/screen.sass */
#bio {
  width: 320px;
  margin: 2em 1em 9em 1em;
  line-height: 1.5;
  color: #999999;
}
/* line 60, ../_sass/screen.sass */
#bio p {
  margin-top: 1em;
}
/* line 62, ../_sass/screen.sass */
#bio a {
  color: #eeeeee;
  text-decoration: none;
}
/* line 24, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
#bio a:hover {
  color: white;
}
/* line 4, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/links/_hover-link.scss */
#bio a:hover {
  text-decoration: underline;
}

/* line 66, ../_sass/screen.sass */
#mugshot {
  display: block;
  position: fixed;
  z-index: -1;
  bottom: 0;
  right: 0;
}

/* line 73, ../_sass/screen.sass */
#twitter_bubble, #github_bubble {
  position: fixed;
  width: 400px;
  height: 200px;
}
/* line 76, ../_sass/screen.sass */
#twitter_bubble .bubble, #github_bubble .bubble {
  display: block;
  position: absolute;
  border: 4px solid #999999;
  -moz-box-shadow: #333333 1px 1px 5px;
  -webkit-box-shadow: #333333 1px 1px 5px;
  -o-box-shadow: #333333 1px 1px 5px;
  box-shadow: #333333 1px 1px 5px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
}
/* line 82, ../_sass/screen.sass */
#twitter_bubble .bubble1, #github_bubble .bubble1 {
  border: 2px solid #999999;
  background-color: #080908;
  width: 16px;
  height: 16px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}
/* line 87, ../_sass/screen.sass */
#twitter_bubble .bubble2, #github_bubble .bubble2 {
  border: 3px solid #999999;
  background-color: #080908;
  width: 30px;
  height: 30px;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  -o-border-radius: 18px;
  -ms-border-radius: 18px;
  -khtml-border-radius: 18px;
  border-radius: 18px;
}
/* line 92, ../_sass/screen.sass */
#twitter_bubble .bubble3, #github_bubble .bubble3 {
  border: 4px solid #999999;
  background-color: #080908;
  width: 50px;
  height: 50px;
  -moz-border-radius: 29px;
  -webkit-border-radius: 29px;
  -o-border-radius: 29px;
  -ms-border-radius: 29px;
  -khtml-border-radius: 29px;
  border-radius: 29px;
}
/* line 97, ../_sass/screen.sass */
#twitter_bubble .bubble4, #github_bubble .bubble4 {
  border: 6px solid #999999;
  background-color: rgba(0, 0, 0, 0.8);
  width: 340px;
  height: auto;
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  -o-border-radius: 32px;
  -ms-border-radius: 32px;
  -khtml-border-radius: 32px;
  border-radius: 32px;
}
/* line 102, ../_sass/screen.sass */
#twitter_bubble .content, #github_bubble .content {
  padding: 18px;
  font-size: 18px;
  line-height: 1.556;
}
/* line 106, ../_sass/screen.sass */
#twitter_bubble .content .info, #github_bubble .content .info {
  font-size: 14px;
  line-height: 2;
  color: #999999;
}

/* line 111, ../_sass/screen.sass */
#twitter_bubble {
  bottom: 430px;
  right: 0px;
}
/* line 114, ../_sass/screen.sass */
#twitter_bubble .bubble1 {
  bottom: 0;
  right: 255px;
}
/* line 117, ../_sass/screen.sass */
#twitter_bubble .bubble2 {
  bottom: 12px;
  right: 275px;
}
/* line 120, ../_sass/screen.sass */
#twitter_bubble .bubble3 {
  bottom: 45px;
  right: 290px;
  background-image: url(../images/twitter-bubble.png);
  text-indent: -9999em;
  overflow: hidden;
  text-align: left;
  background-image: url('/images/twitter-bubble.png?1283259304');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
/* line 125, ../_sass/screen.sass */
#twitter_bubble .bubble4 {
  bottom: 80px;
  right: 30px;
}

/* line 129, ../_sass/screen.sass */
#github_bubble {
  bottom: 260px;
  right: 300px;
}
/* line 132, ../_sass/screen.sass */
#github_bubble .bubble1 {
  bottom: 125px;
  right: 0;
}
/* line 135, ../_sass/screen.sass */
#github_bubble .bubble2 {
  bottom: 130px;
  right: 20px;
}
/* line 138, ../_sass/screen.sass */
#github_bubble .bubble3 {
  bottom: 130px;
  right: 60px;
  background-image: url(../images/github-bubble.png);
  text-indent: -9999em;
  overflow: hidden;
  text-align: left;
  background-image: url('/images/Github-bubble.png?1283224655');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
/* line 143, ../_sass/screen.sass */
#github_bubble .bubble4 {
  bottom: 100px;
  right: 100px;
  width: 260px;
  height: auto;
}
