html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

.hll {
  background-color: #49483e; }

.c {
  color: #75715e; }

/* Comment */
.err {
  color: #960050;
  background-color: #1e0010; }

/* Error */
.k {
  color: #66d9ef; }

/* Keyword */
.l {
  color: #ae81ff; }

/* Literal */
.n {
  color: #f8f8f2; }

/* Name */
.o {
  color: #f92672; }

/* Operator */
.p {
  color: #f8f8f2; }

/* Punctuation */
.cm {
  color: #75715e; }

/* Comment.Multiline */
.cp {
  color: #75715e; }

/* Comment.Preproc */
.c1 {
  color: #75715e; }

/* Comment.Single */
.cs {
  color: #75715e; }

/* Comment.Special */
.ge {
  font-style: italic; }

/* Generic.Emph */
.gs {
  font-weight: bold; }

/* Generic.Strong */
.kc {
  color: #66d9ef; }

/* Keyword.Constant */
.kd {
  color: #66d9ef; }

/* Keyword.Declaration */
.kn {
  color: #f92672; }

/* Keyword.Namespace */
.kp {
  color: #66d9ef; }

/* Keyword.Pseudo */
.kr {
  color: #66d9ef; }

/* Keyword.Reserved */
.kt {
  color: #66d9ef; }

/* Keyword.Type */
.ld {
  color: #e6db74; }

/* Literal.Date */
.m {
  color: #ae81ff; }

/* Literal.Number */
.s {
  color: #e6db74; }

/* Literal.String */
.na {
  color: #a6e22e; }

/* Name.Attribute */
.nb {
  color: #f8f8f2; }

/* Name.Builtin */
.nc {
  color: #a6e22e; }

/* Name.Class */
.no {
  color: #66d9ef; }

/* Name.Constant */
.nd {
  color: #a6e22e; }

/* Name.Decorator */
.ni {
  color: #f8f8f2; }

/* Name.Entity */
.ne {
  color: #a6e22e; }

/* Name.Exception */
.nf {
  color: #a6e22e; }

/* Name.Function */
.nl {
  color: #f8f8f2; }

/* Name.Label */
.nn {
  color: #f8f8f2; }

/* Name.Namespace */
.nx {
  color: #a6e22e; }

/* Name.Other */
.py {
  color: #f8f8f2; }

/* Name.Property */
.nt {
  color: #f92672; }

/* Name.Tag */
.nv {
  color: #f8f8f2; }

/* Name.Variable */
.ow {
  color: #f92672; }

/* Operator.Word */
.w {
  color: #f8f8f2; }

/* Text.Whitespace */
.mf {
  color: #ae81ff; }

/* Literal.Number.Float */
.mh {
  color: #ae81ff; }

/* Literal.Number.Hex */
.mi {
  color: #ae81ff; }

/* Literal.Number.Integer */
.mo {
  color: #ae81ff; }

/* Literal.Number.Oct */
.sb {
  color: #e6db74; }

/* Literal.String.Backtick */
.sc {
  color: #e6db74; }

/* Literal.String.Char */
.sd {
  color: #e6db74; }

/* Literal.String.Doc */
.s2 {
  color: #e6db74; }

/* Literal.String.Double */
.se {
  color: #ae81ff; }

/* Literal.String.Escape */
.sh {
  color: #e6db74; }

/* Literal.String.Heredoc */
.si {
  color: #e6db74; }

/* Literal.String.Interpol */
.sx {
  color: #e6db74; }

/* Literal.String.Other */
.sr {
  color: #e6db74; }

/* Literal.String.Regex */
.s1 {
  color: #e6db74; }

/* Literal.String.Single */
.ss {
  color: #e6db74; }

/* Literal.String.Symbol */
.bp {
  color: #f8f8f2; }

/* Name.Builtin.Pseudo */
.vc {
  color: #f8f8f2; }

/* Name.Variable.Class */
.vg {
  color: #f8f8f2; }

/* Name.Variable.Global */
.vi {
  color: #f8f8f2; }

/* Name.Variable.Instance */
.il {
  color: #ae81ff; }

/* Literal.Number.Integer.Long */
body {
  background-color: #080908;
  color: white;
  font-family: Palatino, Georgia, serif;
  line-height: 24px; }

strong {
  font-weight: bold; }

#content {
  margin: 0 330px 6em 0;
  padding: 1em;
  background-color: rgba(8, 9, 8, 0.9);
  -moz-border-radius-bottomright: 1em;
  -webkit-border-bottom-right-radius: 1em;
  -o-border-bottom-right-radius: 1em;
  -ms-border-bottom-right-radius: 1em;
  -khtml-border-bottom-right-radius: 1em;
  border-bottom-right-radius: 1em;
  -moz-box-shadow: #080908;
  -webkit-box-shadow: #080908;
  -o-box-shadow: #080908;
  box-shadow: #080908; }

body#landing #content {
  margin-right: 710px;
  min-width: 300px;
  max-width: 400px; }

body#page #content {
  width: auto;
  min-width: 400px;
  max-width: 760px; }
  body#page #content a {
    color: #77ccff;
    text-decoration: none; }
  body#page #content a:hover {
    text-decoration: underline; }
  body#page #content em {
    font-style: italic; }
  body#page #content strong {
    font-weight: bold; }
  body#page #content sub, body#page #content sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline; }
  body#page #content sup {
    top: -0.5em; }
  body#page #content sub {
    bottom: -0.25em; }
  body#page #content h1 {
    color: #ffcc88;
    font-size: 32px;
    line-height: 48px; }
  body#page #content h2 a, body#page #content h2 em, body#page #content .byline a, body#page #content .byline em {
    color: #aaaaaa; }
  body#page #content h2 {
    color: #ffcc88;
    font-size: 20px;
    border-bottom: 2px solid #222222;
    margin-bottom: 22px; }
  body#page #content .byline {
    font-style: italic;
    margin-bottom: 1.5em; }
  body#page #content #body {
    margin-bottom: 3em; }
    body#page #content #body p {
      margin-bottom: 1.5em; }
    body#page #content #body ul, body#page #content #body ol {
      margin-bottom: 1.5em;
      margin-left: 1.5em; }
    body#page #content #body ul {
      list-style-type: disc; }
    body#page #content #body ol {
      list-style-type: decimal; }
    body#page #content #body li p {
      margin-bottom: 0; }
    body#page #content #body img, body#page #content #body .slides {
      display: block;
      max-width: 480px;
      margin: 1em 0; }
    body#page #content #body img {
      background-color: rgba(40, 40, 40, 0.5);
      padding: 20px;
      -moz-box-shadow: #080908;
      -webkit-box-shadow: #080908;
      -o-box-shadow: #080908;
      box-shadow: #080908; }
    body#page #content #body pre {
      margin-bottom: 1.714em;
      background-color: #222222;
      padding: 10px;
      border: 2px solid #333333;
      -moz-border-radius: 6px;
      -webkit-border-radius: 6px;
      -o-border-radius: 6px;
      -ms-border-radius: 6px;
      -khtml-border-radius: 6px;
      border-radius: 6px;
      -moz-box-shadow: black 1px 1px 2px 0 inset;
      -webkit-box-shadow: black 1px 1px 2px 0 inset;
      -o-box-shadow: black 1px 1px 2px 0 inset;
      box-shadow: black 1px 1px 2px 0 inset;
      text-shadow: black; }
      body#page #content #body pre code {
        color: white;
        font-size: 14px; }
    body#page #content #body code {
      color: #88ccaa;
      font-size: 80%;
      line-height: 24px;
      font-family: Monaco, "Courier New", monospace; }
    body#page #content #body a code {
      color: #77ccff; }
    body#page #content #body blockquote {
      max-width: 10em;
      float: right;
      margin: 0 0 24px 24px;
      padding: 22px;
      font-size: 20px;
      font-style: italic;
      background-color: #7f6644;
      border: 2px solid #ffcc88;
      -moz-border-radius: 12px;
      -webkit-border-radius: 12px;
      -o-border-radius: 12px;
      -ms-border-radius: 12px;
      -khtml-border-radius: 12px;
      border-radius: 12px;
      -moz-box-shadow: black 2px 2px 2px 0 inset;
      -webkit-box-shadow: black 2px 2px 2px 0 inset;
      -o-box-shadow: black 2px 2px 2px 0 inset;
      box-shadow: black 2px 2px 2px 0 inset;
      text-shadow: black 2px 2px 2px; }
      body#page #content #body blockquote p {
        margin-bottom: 0; }
    body#page #content #body a:hover img {
      background-color: rgba(0, 153, 238, 0.3); }
    body#page #content #body .edit {
      color: #aaaaaa;
      font-style: italic; }

body#page #sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  padding: 1em;
  background-color: rgba(8, 9, 8, 0.9);
  color: #999999;
  font-size: 13px;
  -moz-border-radius-bottomleft: 1em;
  -webkit-border-bottom-left-radius: 1em;
  -o-border-bottom-left-radius: 1em;
  -ms-border-bottom-left-radius: 1em;
  -khtml-border-bottom-left-radius: 1em;
  border-bottom-left-radius: 1em;
  -moz-box-shadow: #080908;
  -webkit-box-shadow: #080908;
  -o-box-shadow: #080908;
  box-shadow: #080908; }
  body#page #sidebar a {
    color: #eeeeee;
    text-decoration: none; }
    body#page #sidebar a:hover {
      color: white; }
    body#page #sidebar a:hover {
      text-decoration: underline; }
  body#page #sidebar p {
    margin-bottom: 1em; }

body#page #content #comments h2 {
  border: none; }

#comments {
  font-family: Helvetica, Arial, sans-serif; }

#disqus_thread {
  border-top: 3px dashed #999999; }

#dsq-new-post {
  font-size: 12px !important; }

#dsq-content {
  font-size: 16px !important; }

#social {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: rgba(8, 9, 8, 0.9);
  -moz-border-radius-topright: 1em;
  -webkit-border-top-right-radius: 1em;
  -o-border-top-right-radius: 1em;
  -ms-border-top-right-radius: 1em;
  -khtml-border-top-right-radius: 1em;
  border-top-right-radius: 1em;
  -moz-box-shadow: #080908;
  -webkit-box-shadow: #080908;
  -o-box-shadow: #080908;
  box-shadow: #080908; }
  #social .button {
    display: block;
    float: left;
    width: 64px;
    height: 64px; }
  #social .rss {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    background-image: url('/images/rss-button.png?1299455794');
    background-repeat: no-repeat;
    background-position: 50% 50%; }
  #social .github {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    background-image: url('/images/github-button.png?1287763329');
    background-repeat: no-repeat;
    background-position: 50% 50%; }
  #social .stackoverflow {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    background-image: url('/images/stackoverflow-button.png?1287763329');
    background-repeat: no-repeat;
    background-position: 50% 50%; }
  #social .twitter {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    background-image: url('/images/twitter-button.png?1287763329');
    background-repeat: no-repeat;
    background-position: 50% 50%; }
  #social .linkedin {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    background-image: url('/images/linkedin-button.png?1287763329');
    background-repeat: no-repeat;
    background-position: 50% 50%; }
  #social .facebook {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    background-image: url('/images/facebook-button.png?1287763329');
    background-repeat: no-repeat;
    background-position: 50% 50%; }
  #social .claimid {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    background-image: url('/images/claimid-button.png?1287763329');
    background-repeat: no-repeat;
    background-position: 50% 50%; }
  #social .wwr {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    background-image: url('/images/wwr-button.png?1287763329');
    background-repeat: no-repeat;
    background-position: 50% 50%; }
  #social .email {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    background-image: url('/images/mail-button.png?1287763329');
    background-repeat: no-repeat;
    background-position: 50% 50%; }

#welcome {
  margin: 0 0 32px 0;
  font-size: 32px;
  line-height: 48px;
  text-shadow: black 3px 3px 5px; }
  #welcome a {
    color: white;
    text-decoration: none; }
    #welcome a:hover {
      text-decoration: underline; }

#bio {
  color: #999999; }
  #bio p {
    margin-top: 1em; }
  #bio a {
    color: #eeeeee;
    text-decoration: none; }
    #bio a:hover {
      color: white; }
    #bio a:hover {
      text-decoration: underline; }

#mugshot {
  display: block;
  position: fixed;
  z-index: -1;
  bottom: 0;
  right: 0; }

#twitter_bubble, #github_bubble {
  z-index: 0;
  position: fixed;
  width: 400px;
  height: 200px; }
  #twitter_bubble .bubble, #github_bubble .bubble {
    display: block;
    position: absolute;
    border: 4px solid #999999;
    -moz-box-shadow: 0px 0px 5px #333333;
    -webkit-box-shadow: 0px 0px 5px #333333;
    -o-box-shadow: 0px 0px 5px #333333;
    box-shadow: 0px 0px 5px #333333;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(255, 255, 255, 0)));
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0) 100%);
    background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0) 100%);
    background-image: -o-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0) 100%);
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0) 100%);
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.2)));
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2));
    background-image: -moz-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2));
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2));
    background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2)); }
    #twitter_bubble .bubble a, #github_bubble .bubble a {
      color: #aaaaaa;
      text-decoration: none; }
    #twitter_bubble .bubble a:hover, #github_bubble .bubble a:hover {
      text-decoration: underline; }
    #twitter_bubble .bubble:hover a, #github_bubble .bubble:hover a {
      color: #77ccff; }
  #twitter_bubble .bubble1, #github_bubble .bubble1 {
    border: 2px solid #999999;
    background-color: #080908;
    width: 16px;
    height: 16px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px; }
  #twitter_bubble .bubble2, #github_bubble .bubble2 {
    border: 3px solid #999999;
    background-color: #080908;
    width: 30px;
    height: 30px;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    -o-border-radius: 18px;
    -ms-border-radius: 18px;
    -khtml-border-radius: 18px;
    border-radius: 18px; }
  #twitter_bubble .bubble3, #github_bubble .bubble3 {
    border: 4px solid #999999;
    background-color: #080908;
    width: 50px;
    height: 50px;
    -moz-border-radius: 29px;
    -webkit-border-radius: 29px;
    -o-border-radius: 29px;
    -ms-border-radius: 29px;
    -khtml-border-radius: 29px;
    border-radius: 29px; }
  #twitter_bubble .main_bubble, #github_bubble .main_bubble {
    border: 6px solid #999999;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 18px 21px;
    width: 300px;
    height: auto;
    -moz-border-radius: 32px;
    -webkit-border-radius: 32px;
    -o-border-radius: 32px;
    -ms-border-radius: 32px;
    -khtml-border-radius: 32px;
    border-radius: 32px; }
    #twitter_bubble .main_bubble .loading, #github_bubble .main_bubble .loading {
      height: 64px;
      background: transparent url('/images/spinner-gray-on-transparent.gif?1299455794') no-repeat 50% 50%; }
    #twitter_bubble .main_bubble blockquote, #github_bubble .main_bubble blockquote {
      width: 300px;
      font-size: 18px; }
      #twitter_bubble .main_bubble blockquote .info, #github_bubble .main_bubble blockquote .info {
        font-size: 14px;
        line-height: 2;
        color: #999999; }

#twitter_bubble {
  bottom: 430px;
  right: 0px; }
  #twitter_bubble .bubble1 {
    bottom: 0;
    right: 255px; }
  #twitter_bubble .bubble2 {
    bottom: 12px;
    right: 275px; }
  #twitter_bubble .bubble3 {
    bottom: 45px;
    right: 290px;
    background-image: url(../images/twitter-bubble.png);
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    background-image: url('/images/twitter-bubble.png?1287763329');
    background-repeat: no-repeat;
    background-position: 50% 50%; }
  #twitter_bubble .main_bubble {
    bottom: 80px;
    right: 30px; }

#github_bubble {
  bottom: 360px;
  right: 300px; }
  #github_bubble .bubble1 {
    bottom: 25px;
    right: 0; }
  #github_bubble .bubble2 {
    bottom: 30px;
    right: 20px; }
  #github_bubble .bubble3 {
    bottom: 30px;
    right: 60px;
    background-image: url(../images/github-bubble.png);
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    background-image: url('/images/github-bubble.png?1287763329');
    background-repeat: no-repeat;
    background-position: 50% 50%; }
  #github_bubble .main_bubble {
    bottom: 0;
    right: 100px;
    width: 240px;
    height: auto; }
    #github_bubble .main_bubble blockquote {
      width: 240px; }
