<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    <meta charset="utf-8" />
    <link href="/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="http://feeds.feedburner.com/ryanmcgeary" rel="alternate" title="" type="application/atom+xml" />
    {% include openid.html %}
    {% include microid.html %}
    <title>{{ page.title }}</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
    {{ page.scripts }}
    <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" />
    <!--[if IE]>
      <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" />
    <![endif]-->
    {% include analytics.html %}
  </head>
  <body id="{{ page.section }}">
    {% include ie6nomore.html %}
    {% include mugshot.html %}
    {{ content }}
    {% include disqus_comment_count.html %}
  </body>
</html>
