---
layout: default
section: page
scripts: |
  <script src="/javascripts/post.js"></script>
---
<div id="content">
  <h1>{{ page.title }}</h1>
  <div class="byline">
    by <a href="/">Ryan McGeary</a>
    on <em>{{ page.date | date_to_string }}</em>
    {% if page.duration %} in <em>{{ page.duration }}</em>{% endif %}
  </div>
  <div id="body">
    {{ content }}
  </div>

  <div id="comments">
    <h2><a href="{{ page.url }}#disqus_thread">Comments</a></h2>
    {% include disqus_comments.html %}
  </div>
</div>

{% include sidebar.html %}
